<!DOCTYPE html>
<HTML lang = "EN">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
        <style>
            

        </style>
    </head>
    <body>
        <section>
            <ul>
                <li data-text="sun"><a href="#">sun</a></li>
                <li data-text="mercury"><a href="#">mercury</a></li>
                <li data-text="venus"><a href="#">venus</a></li>
                <li data-text="earth"><a href="#">earth</a></li>
                <li data-text="jupiter"><a href="#">jupiter</a></li>
                <li data-text="saturn"><a href="#">saturn</a></li>
                <li data-text="uranus"><a href="#">uranus</a></li>
                <li data-text="nenton"><a href="#">nenton</a></li>
            </ul>
        </section>
    </body>
</HTML>
